**/.uuid
**/.zcompdump
**/watch_later/*
**/__pycache__/*
**/playlists/*
**/cookie/*

local/.local/bin/nvr
local/.local/bin/pytube
local/.local/bin/spotdl
local/.local/bin/tqdm

lvim/.config/lvim/plugin/packer_compiled.lua
calcurse/.config/calcurse/conf
suckless/.config/suckless/dwm/dwm
suckless/.config/suckless/dwm/dwm.o

*.o
*.orig
*.rej
