/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* ========================================================================================= */
/* Make tabs and navbar appear side-by-side tabs on right */
/* Use page_action_buttons_on_hover.css to hide page-action-buttons to save more space for the address */
/* Toolbars will be shown normally if window width goes below the value below */
/* Modify it to suit your needs */
@media screen and (min-width: 800px) {
  :root[uidensity="compact"] {
    --tab-block-margin: 2px !important;
    --proton-tab-block-margin: 2px !important;
  }

  /* Modify these to change relative widths or default height */
  #navigator-toolbox {
    --uc-navigationbar-width: 40vw;
    --uc-toolbar-height: 40px;
    --uc-urlbar-min-width: 50vw; /* minimum width for opened urlbar */
  }
  @media (-moz-proton) {
    #scrollbutton-up,
    #scrollbutton-down {
      border-block-width: 2px !important;
    }
  }
  /* prevent urlbar overflow on narrow windows */
  /* Dependent on how many items are in navigation toolbar ADJUST AS NEEDED */
  @media screen and (max-width: 1500px) {
    #urlbar-container {
      min-width: unset !important;
    }
  }

  /* Override for other densities */
  :root[uidensity="compact"] #navigator-toolbox {
    --uc-toolbar-height: 34px;
  }
  :root[uidensity="touch"] #navigator-toolbox {
    --uc-toolbar-height: 44px;
  }

  #TabsToolbar {
    margin-left: var(--uc-navigationbar-width);
    --tabs-navbar-shadow-size: 0px;
  }
  #tabbrowser-tabs {
    --tab-min-height: calc(
      var(--uc-toolbar-height) - 2 * var(--tab-block-margin, 0px)
    ) !important;
  }

  /* This isn't useful when tabs start in the middle of the window */
  .titlebar-spacer[type="pre-tabs"] {
    display: none;
  }

  #navigator-toolbox > #nav-bar {
    margin-right: calc(100vw - var(--uc-navigationbar-width));
    margin-top: calc(0px - var(--uc-toolbar-height));
  }

  /* Window drag space  */
  :root[tabsintitlebar="true"] #nav-bar {
    padding-left: 24px !important;
  }

  /* Rules specific to window controls on right layout */
  @supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
    .titlebar-buttonbox-container {
      position: fixed;
      display: block;
      left: 0px;
      z-index: 3;
    }
    :root[tabsintitlebar="true"] #nav-bar {
      padding-left: 96px !important;
      padding-right: 0px !important;
    }
  }

  /* 1px margin on touch density causes tabs to be too high */
  .tab-close-button {
    margin-top: 0 !important;
  }

  /* Make opened urlbar overlay the toolbar */
  #urlbar[open]:focus-within {
    min-width: var(--uc-urlbar-min-width, none) !important;
  }

  /* Hide dropdown placeholder */
  #urlbar-container:not(:hover) .urlbar-history-dropmarker {
    margin-inline-start: -28px;
  }
}
/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow {
  margin-inline-end: initial !important;
}
/* ========================================================================================= */

/* ========================================================================================= */
/* Makes panels, menupopups, urlbar and searchbar rounded */
/* Modify the rounding size here */
:root {
  --uc-menupopup-border-radius: 10px;
}

panel[type="autocomplete-richlistbox"],
menupopup,
.panel-arrowcontent {
  -moz-appearance: none !important;
  border-radius: var(--uc-menupopup-border-radius) !important;
  overflow: -moz-hidden-unscrollable !important;
}

/* The rounding is also applied to searchbar and urlbar to look consistent */
searchbar#searchbar,
#urlbar-background {
  border-radius: var(--uc-menupopup-border-radius) !important;
}

/* Reposition the panel-arrow  */
panel[type="arrow"] {
  margin-inline-end: calc(-10px - var(--uc-menupopup-border-radius)) !important;
}
.panel-arrow {
  margin-inline: var(--uc-menupopup-border-radius) !important;
}
/* ========================================================================================= */

/* ========================================================================================= */
/* Page action-buttons "slide in" when cursor is on top of them and don't reserve space when not used */

#page-action-buttons {
  padding-inline-start: 8px;
}

.urlbar-page-action {
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding));
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}

#page-action-buttons:hover > .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action {
  opacity: 1;
  margin-inline-end: 0px !important;
}
/* ========================================================================================= */

/* ========================================================================================= */
/* Makes the contents of the overflow menu appear in a three column grid */
/* Hides button labels */

#widget-overflow-mainView {
  min-width: 80px !important;
}

#widget-overflow-fixed-list {
  display: grid;
  grid-template-areas: "s s s" "a a a";
  grid-auto-columns: auto;
}

#widget-overflow-mainView[visible] #widget-overflow-fixed-list {
  max-width: 110px;
}
#widget-overflow-mainView ~ panelview[visible] {
  max-width: unset !important;
}

#widget-overflow-fixed-list > * {
  padding-block: 8px !important;
}
#widget-overflow-fixed-list > #search-container {
  grid-area: s;
}

#widget-overflow-mainView #widget-overflow-fixed-list .subviewbutton-nav::after,
#widget-overflow-mainView #widget-overflow-fixed-list .toolbarbutton-text {
  display: none;
}
/* ========================================================================================= */

/* ========================================================================================= */
/* Always show tab close button on hover and never otherwise */
.tabbrowser-tab .tab-close-button {
  display: none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/* Makes the tab audio indicator show as overlay in all tabs, not just pinned ones */

.tab-icon-image,
.tab-throbber {
  opacity: 1 !important;
}

.tab-icon-overlay:not([crashed]) {
  top: -5.5px;
  inset-inline-end: -6px;
  z-index: 1;
  padding: 2px;
  opacity: 1 !important;
  stroke: var(--tab-icon-overlay-stroke, black) !important;
}
.tab-icon-overlay:not([crashed]):hover {
  background-color: var(--tab-icon-overlay-stroke, black) !important;
  border-radius: 10px !important;
}
/* ========================================================================================= */

/* ========================================================================================= */
/* Makes menubar appear as overlay in the top left corner */
/* Dummy variable to support both versions 89-90 */
:root {
  --tab-block-margin: var(--proton-tab-block-margin);
}

#toolbar-menubar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  height: initial !important;
  z-index: 10;
}

#toolbar-menubar[autohide="true"][inactive="true"] {
  height: 0px !important;
}

:root[tabsintitlebar][sizemode="maximized"] #toolbar-menubar {
  top: 8px;
}

#toolbar-menubar > spacer {
  flex-grow: 1;
}
#toolbar-menubar[inactive] > .titlebar-buttonbox-container {
  display: none;
}

#main-menubar {
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin, 0px));
  background-color: var(--arrowpanel-background);
  color: var(--arrowpanel-color);
}

#menubar-items {
  -moz-box-orient: horizontal !important;
}
#menubar-items::after {
  content: "";
  display: -moz-box;
  width: 30px;
  height: calc(var(--tab-min-height) + 2 * var(--tab-block-margin, 0px));
  background-image: linear-gradient(
    to right,
    var(--arrowpanel-background) 30%,
    transparent
  );
}

@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled") {
  #toolbar-menubar[autohide="true"]:not([inactive])
    > .titlebar-buttonbox-container {
    display: none;
  }
}
/* ========================================================================================= */

/* S E T T I N G S */

/* H I D I N G   E L E M E N T S */
/* Comment or uncomment depending of what elements you want to hide */

/* Back button */
/* #back-button {display: none !important} */

/* Hide back button only when disabled */
#back-button[disabled="true"] {
  display: none !important;
}

/* Forward button */
/* #forward-button {display: none !important} */

/* Hide forward button only when disabled */
#forward-button[disabled="true"] {
  display: none !important;
}

/* "Shield" icon */
#tracking-protection-icon-container {
  display: none !important;
}

/* /* Site information button */
*/
/* #identity-box { */
/*   display: none !important; */
/* } */

/* This is the "Search with" indicator on the urlbar */
/* #urlbar-search-mode-indicator[disabled="true"] { */
/*   display: none !important; */
/* } */

/* Zoom button */
#urlbar-zoom-button {
  display: none !important;
}

/* Page action (right three dash button) */
/* #pageActionButton {display: none !important} */

/* These are the buttons on the right of the urlbar */
/* #page-action-buttons {display: none !important} */

/* #urlbar-label-box {display: none !important} */

/* This one is the hamburger menu! */
/* CAUTION: if you hide this some popups may be bugged */
/* #PanelUI-button {display: none !important} */

/* Tab close button */
/* .tab-close-button {display: none !important} */

#nav-bar {
  background: transparent !important;
  box-shadow: none !important;
}

/* A U T O  H I D E */
/* Uncomment relavent Sections */

/* Configuration 1 - START */
/* Hide Unless focused with CMD/Ctrl - L or In a New Tab */
/* Adapted from https://superuser.com/a/1497982/1189696 */

/* Adjusts gap to hover over */
/*
#navigator-toolbox:not(:hover) {
  height: 4px !important; 
  min-height: 0px !important;
  overflow: hidden !important;
}

#navigator-toolbox:focus,
#navigator-toolbox:focus-within,
#navigator-toolbox:active,
#urlbar[focused="true"] {
  height: auto !important;
  overflow: visible !important;
}
*/

/* Configuration 1 - END */

/* userChrome.css for a cleaner looking navBar in FireFox. This is experimental */
/* Made by Tim Krief https://links.timkrief.com */

/* Preventing the tabs from changing on hover */
/* .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background { */
/*     background: transparent !important; */
/* } */
.tabbrowser-tab:not([visuallyselected="true"]) label {
    opacity: 0.60 !important;
}

.tabbrowser-tab, .tabbrowser-tab[visuallyselected="true"]:hover{
    --tab-label-mask-size: 1em !important;
}

/* Removing tab's margins and adapting corners */
:root {
    /* --tab-border-radius: 10px !important; */
    --tab-block-margin: 0 !important;
}
/* .tab-background { */
/*     border-radius: 0px 0px var(--tab-border-radius) var(--tab-border-radius)  !important; */
/*     box-shadow: inset 0 2px var(--identity-tab-color, transparent) !important; */
/* } */

/* Making the all the toolbars transparent */
/* /!\ This can have strange effect when using "native style", in that case you'll have to find and use the native color of the titlebar instead of "transparent" */
.browser-toolbar:not(.titlebar-color) {
    background: transparent !important;
}

/* Removing the second text line in tabs */
.tab-secondary-label{
    display: none;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/floating_findbar_on_top.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Note that privacy.resistFingerprinting.letterboxing prevents this from working properly */

findbar{
  -moz-box-ordinal-group: 0;
  margin-bottom: -33px;
  position: relative;
  border-top: none !important;
  padding: 0 !important;
  transition: transform 82ms linear, opacity 82ms linear 32ms !important;
  background: none !important;
  pointer-events: none;
  z-index: 1;
}

.findbar-container > .findbar-find-fast{
  padding: var(--toolbarbutton-inner-padding) 1px;
  margin: 0 !important;
}

findbar[hidden]{ transform: translateY(-30px);}

findbar > .findbar-container,
findbar > .close-icon{
  border: 1px solid var(--chrome-content-separator-color);
  border-width: 0 0 1px 0px;
  background: var(--uc-light-bkgnd-color,var(--toolbar-bgcolor)) !important;
  pointer-events: auto;
}
findbar > .findbar-container{
  -moz-box-direction: reverse;
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
}

.findbar-closebutton{ margin: 0 !important; border-radius: 0 !important; padding: 5px !important; }
.findbar-closebutton > image{ padding: 3px }
.findbar-closebutton:hover > image{ background: var(--toolbarbutton-hover-background) !important; border-radius: 4px }
findbar > .findbar-container > hbox{ margin: 0 5px }

findbar::before{
  content:"";
  display: -moz-box;
  -moz-box-flex: 100;
}

/*
Move findbar so it isn't over the scrollbar
Delete if you want findbar to begin from right window edge
*/
findbar{
  margin-right: 16px;
  border-right: 1px solid var(--chrome-content-separator-color);
}

/* remove "padding" left and right from tabs */
.titlebar-spacer { display: none !important; }

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: 0 !important; }
